.topbar{
    width: 100%;
    height: 70px;
    background-color: aqua;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarwrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.topright{
    display: flex;
    align-items: center;
}

.topbariconcontainer{
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topiconbadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topavatar{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
}