.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem {
    flex: 1;
    margin: 20px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredtitle{
    font-size: 20px;
    font-weight: 425;
}

.featuredmoneycontainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredmoney{
    font-size: 30px;
    font-weight: bold;
}

.featuredmoneyrate{
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.featuredicon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredicon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: grey;
}