.ghostbox{
    width: 100px;
    display: flex;
    position: relative;
}

.ghostpicture{
    position: absolute;
    top: 50vh;
    margin-left: 40vw;
    width: 500%;
}

.ghosttext{
    position: absolute;
    top: 20vh;
    margin-left: 45vw;
    width: 500%;
    font-size: 100px;
}

.moretext{
    position: absolute;
    top: 35vh;
    margin-left: 45vw;
    width: 500%;
    font-size: 25px;
}